<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<div id="data-info">
  <h3>Info about dataset</h3>

  <ul>
    <li>Entries in data set: {{ data?.length }}</li>
    <li>Subset start: {{ subsetStart }}</li>
    <li>Subset end: {{ subsetEnd }}</li>
  </ul>
</div>

<div *ngIf="data">Showing entries {{ subsetStart + 1 }} to {{ subsetEnd }} of {{ data?.length }}.</div>

<button (click)="goToPreviousSubset()">Previous</button>
<button (click)="goToNextSubset();goToNextSubset();goToNextSubset();goToNextSubset();goToNextSubset();goToNextSubset();goToNextSubset();goToNextSubset();goToNextSubset();goToNextSubset();goToNextSubset();goToNextSubset();goToNextSubset();">Next</button>

<div>
  <h3>Data</h3>
  <table>
    <tr>
      <th>pageTitle</th>
      <th>title</th>
      <th>url</th>
      <th>hasHeader</th>
      <th>headerPosition</th>
      <th>tableType</th>
      <th>tableNum</th>
      <th>s3Link</th>
      <th>recordEndOffset</th>
      <th>recordOffset</th>
      <th>tableOrientation</th>
      <th>textBeforeTable</th>
      <th>textAfterTable</th>
      <th>hasKeyColumn</th>
      <th>keyColumnIndex</th>
      <th>headerRowIndex</th>
    </tr>
    <tr *ngFor="let entry of filteredData(); let i = index">

      <td>{{ entry.pageTitle }} </td>
      <td>{{ entry.title }} </td>
      <td>{{ entry.url }} </td>
      <td>{{ entry.hasHeader }} </td>
      <td>{{ entry.headerPosition }} </td>
      <td>{{ entry.tableType }} </td>
      <td>{{ entry.tableNum }} </td>
      <td>{{ entry.s3Link }} </td>
      <td>{{ entry.recordEndOffset }} </td>
      <td>{{ entry.recordOffset }} </td>
      <td>{{ entry.tableOrientation }} </td>
      <td>{{ entry.textBeforeTable }} </td>
      <td>{{ entry.textAfterTable }} </td>
      <td>{{ entry.hasKeyColumn }} </td>
      <td>{{ entry.keyColumnIndex }} </td>
      <td>{{ entry.headerRowIndex }} </td>

    </tr>
  </table>
</div>