<section class="state" *ngIf="dataService?.data?.value?.length > 0">Showing page {{page_num}}, entries {{ subsetStart + 1 }} to {{ subsetEnd + 1 }} of {{ dataService?.data?.value?.length }}.</section>

<div class="actions" [formGroup]="listForm" *ngIf="dataService?.data?.value?.length > 0">
  <button (click)="goToFirstSubset()">First</button>
  <button (click)="goToPreviousSubset()">Previous</button>

  <button (click)="goToNextSubset()">Next</button>
  <button (click)="goToLastSubset()">Last</button>

  <div class="showLength">
    <label class="prefix" for="showLength">Show:</label>
    <select id="showLength" placeholder="Items per page" formControlName="subsetLength">
      <option>10</option>
      <option>25</option>
      <option>100</option>
      <option>1000</option>
    </select>
  </div>
</div>

<div>
  <div class="list">
    <ng-container *ngFor="let entry of filteredData(); let i = index">
      <h3><a title="Table found at" href="{{ entry.url }}">{{ entry.pageTitle }} 🔗</a></h3>

      <div class="tableData">
        <h4>{{ entry.title }}</h4>

        <small>{{ entry.tableType }}</small>
        <small>{{ entry.tableNum }}</small>
        <small>{{ entry.headerPosition }}</small>

        <p class="textBeforeTable">{{ entry.textBeforeTable }} </p>

        <data-table [data]="entry"></data-table>

        <p class="textAfterTable">{{ entry.textAfterTable }} </p>
      </div>
    </ng-container>
  </div>
</div>

<div class="actions" [formGroup]="listForm" *ngIf="dataService?.data?.value?.length > 0">
  <button (click)="goToFirstSubset()">First</button>
  <button (click)="goToPreviousSubset()">Previous</button>

  <button (click)="goToNextSubset()">Next</button>
  <button (click)="goToLastSubset()">Last</button>

  <div class="showLength">
    <label class="prefix" for="showLength">Show:</label>
    <select id="showLength" placeholder="Items per page" formControlName="subsetLength">
      <option>10</option>
      <option>25</option>
      <option>100</option>
      <option>1000</option>
    </select>
  </div>
</div>

<section class="state" *ngIf="dataService?.data?.value?.length > 0">Showing entries {{ subsetStart + 1 }} to {{ subsetEnd + 1 }} of {{ dataService?.data?.value?.length }}.</section>

<h3>EXPERIMENT</h3>
<section>
  <p>See what happens if we load the data 108 times (might crash your browser)</p>
  <p>(1 000 000 entries = 9275 entries * 108 loads)</p>
  <button (click)="loadMoreData()">Load ONE MIIILLION entries!</button>
</section>

